<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyXcfDymo8AYI0r4e1JqRmd6lq7_z5xkE</string>
	<key>GCM_SENDER_ID</key>
	<string>600175299859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verificationsystem</string>
	<key>PROJECT_ID</key>
	<string>verificationsystem-622a5</string>
	<key>STORAGE_BUCKET</key>
	<string>verificationsystem-622a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600175299859:ios:1b0ef6c749fb550d1adee6</string>
</dict>
</plist>